:root{
    --cor-vermelho: #fc0021;
    --cor-preto: #090d17;
    --cor-branco: #ffffff;
    --cor-verde: #10aa68;
    --cor-cinza:#171f31;

    --regular: 'mark-pro-regular';
    --bold:'mark-pro-bold';
}