*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    line-height:1;
    appearance: none;
}

body,html {
    background-color: var(--cor-preto);
    /* color: var(--cor-branco); */
}

::-webkit-scrollbar{
    background-color: var(--cor-preto);
}
::-webkit-scrollbar-corner{
    background-color:var(--cor-vermelho) ;
}

::selection{
    color: var(--cor-branco);
    background-color: var(--cor-vermelho);
}

@font-face {
    font-family:'mark-pro-bold' ;
    src: url('../../files/mark-pro-bold.woff');
}
@font-face {
    font-family:'mark-pro-regular' ;
    src: url('../../files/mark-pro-regular.woff');
}

:root{
    --cor-vermelho: #fc0021;
    --cor-preto: #090d17;
    --cor-branco: #ffffff;
    --cor-verde: #10aa68;
    --cor-cinza:#171f31;

    --regular: 'mark-pro-regular';
    --bold:'mark-pro-bold';
}

@import'./partials/footer.css';
@import'./partials/nav.css';
@import'./partials/section-compra.css';
@import'./partials/section-itens.css';
@import'./partials/section-topo.css';







